mcp-server/examples/n8n-workflows/basic_lca_workflow.json
{
  "name": "OpenLCA 4-Phase LCA Workflow",
  "nodes": [
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "product_name",
              "value": "PET Water Bottle"
            },
            {
              "name": "functional_unit",
              "value": "1 bottle (500ml)"
            }
          ],
          "number": [
            {
              "name": "pet_amount",
              "value": 0.025
            }
          ]
        },
        "options": {}
      },
      "name": "User Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "options": {
          "systemMessage": "You are an LCA Goal & Scope specialist.\n\nYour tasks:\n1. Test connection to openLCA\n2. Search for required materials\n3. Find providers\n4. Find impact method\n5. Validate all inputs exist\n\nReturn structured JSON with:\n- materials_found: [{id, name, provider_id, amount}]\n- materials_missing: [names]\n- impact_method: {id, name}\n- status: 'complete' or 'incomplete'"
        },
        "text": "=Please complete Phase 1 (Goal & Scope) for this LCA study:\n\nProduct: {{ $json.product_name }}\nFunctional Unit: {{ $json.functional_unit }}\n\nMaterials needed:\n- PET granulate: {{ $json.pet_amount }} kg\n\nDesired impact method: TRACI\n\nFirst, test the connection. Then search for all materials and the impact method.",
        "mcpServers": {
          "server": "openlca-lca-server"
        }
      },
      "name": "Phase 1: Goal & Scope",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "complete"
            }
          ]
        }
      },
      "name": "Check Materials Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [690, 300]
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "options": {
          "systemMessage": "You are an LCA Inventory (LCI) specialist.\n\nYour tasks:\n1. Create product flow for the product\n2. Create process with:\n   - Output: 1 unit product (quantitative reference)\n   - Inputs: All materials with providers\n3. Create product system\n\nReturn structured JSON with:\n- product_flow_id\n- process_id\n- product_system_id\n- status: 'complete'"
        },
        "text": "=Please complete Phase 2 (Life Cycle Inventory) using:\n\nProduct: {{ $('User Input').item.json.product_name }}\n\nMaterials from Phase 1:\n{{ JSON.stringify($json.materials_found, null, 2) }}\n\nCreate the product flow, process with exchanges, and product system.",
        "mcpServers": {
          "server": "openlca-lca-server"
        }
      },
      "name": "Phase 2: Life Cycle Inventory",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [910, 200]
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "options": {
          "systemMessage": "You are an LCA Impact Assessment (LCIA) specialist.\n\nYour tasks:\n1. Calculate impacts using:\n   - Product system from Phase 2\n   - Impact method from Phase 1\n2. Return impacts and result_id\n\nReturn structured JSON with:\n- result_id (IMPORTANT for cleanup)\n- impacts: [{name, amount, unit, category_id}]\n- status: 'complete'"
        },
        "text": "=Please complete Phase 3 (Life Cycle Impact Assessment) using:\n\nProduct System ID: {{ $json.product_system_id }}\nImpact Method ID: {{ $('Phase 1: Goal & Scope').item.json.impact_method.id }}\n\nCalculate environmental impacts.",
        "mcpServers": {
          "server": "openlca-lca-server"
        }
      },
      "name": "Phase 3: Impact Assessment",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "options": {
          "systemMessage": "You are an LCA Interpretation specialist.\n\nYour tasks:\n1. Analyze top contributors for major impacts (>0.01)\n2. Identify hotspots (>10% contribution)\n3. Export results to CSV\n4. Generate recommendations\n\nDO NOT dispose result - that's done in next node.\n\nReturn structured JSON with:\n- hotspots: [{impact, contributor, percent, amount}]\n- exports: {impacts_csv, contributions_csv}\n- recommendations: [strings]\n- status: 'complete'"
        },
        "text": "=Please complete Phase 4 (Interpretation) using:\n\nResult ID: {{ $json.result_id }}\nImpacts:\n{{ JSON.stringify($json.impacts, null, 2) }}\n\nAnalyze contributions, export results, and provide recommendations.",
        "mcpServers": {
          "server": "openlca-lca-server"
        }
      },
      "name": "Phase 4: Interpretation",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1350, 200]
    },
    {
      "parameters": {
        "tool": "dispose_result",
        "arguments": {
          "result_id": "={{ $('Phase 3: Impact Assessment').item.json.result_id }}"
        },
        "mcpServer": "openlca-lca-server"
      },
      "name": "Cleanup: Dispose Result",
      "type": "n8n-nodes-base.mcpToolCall",
      "typeVersion": 1,
      "position": [1570, 200]
    },
    {
      "parameters": {
        "jsCode": "// Generate Final Report\nconst userInput = $('User Input').item.json;\nconst phase1 = $('Phase 1: Goal & Scope').item.json;\nconst phase2 = $('Phase 2: Life Cycle Inventory').item.json;\nconst phase3 = $('Phase 3: Impact Assessment').item.json;\nconst phase4 = $('Phase 4: Interpretation').item.json;\n\nconst report = {\n  title: `LCA Report: ${userInput.product_name}`,\n  date: new Date().toISOString().split('T')[0],\n  functional_unit: userInput.functional_unit,\n\n  phase1_goal_scope: {\n    product: userInput.product_name,\n    method: phase1.impact_method.name,\n    materials_count: phase1.materials_found.length\n  },\n\n  phase2_inventory: {\n    product_system_id: phase2.product_system_id,\n    process_id: phase2.process_id\n  },\n\n  phase3_impacts: phase3.impacts.map(i => ({\n    category: i.name,\n    value: i.amount.toExponential(4),\n    unit: i.unit\n  })),\n\n  phase4_interpretation: {\n    hotspots: phase4.hotspots,\n    recommendations: phase4.recommendations,\n    exports: phase4.exports\n  },\n\n  summary: {\n    top_impact: phase3.impacts.reduce((max, i) => \n      Math.abs(i.amount) > Math.abs(max.amount) ? i : max\n    ),\n    top_hotspot: phase4.hotspots[0]\n  }\n};\n\nreturn { json: report };"
      },
      "name": "Generate Final Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1790, 200]
    },
    {
      "parameters": {
        "operation": "toText",
        "options": {
          "fileName": "={{ $('User Input').item.json.product_name.replace(/\\s+/g, '_') }}_LCA_Report_{{ $now.format('YYYYMMDD') }}.json"
        }
      },
      "name": "Save Report",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1,
      "position": [2010, 200]
    },
    {
      "parameters": {
        "options": {
          "allProperties": true
        }
      },
      "name": "Materials Missing - Notify User",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [910, 400],
      "notes": "Handle missing materials - could send email, webhook, or ask user for alternatives"
    }
  ],
  "connections": {
    "User Input": {
      "main": [
        [
          {
            "node": "Phase 1: Goal & Scope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 1: Goal & Scope": {
      "main": [
        [
          {
            "node": "Check Materials Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Materials Found": {
      "main": [
        [
          {
            "node": "Phase 2: Life Cycle Inventory",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Materials Missing - Notify User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 2: Life Cycle Inventory": {
      "main": [
        [
          {
            "node": "Phase 3: Impact Assessment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 3: Impact Assessment": {
      "main": [
        [
          {
            "node": "Phase 4: Interpretation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 4: Interpretation": {
      "main": [
        [
          {
            "node": "Cleanup: Dispose Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup: Dispose Result": {
      "main": [
        [
          {
            "node": "Generate Final Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Final Report": {
      "main": [
        [
          {
            "node": "Save Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "LCA",
      "id": "lca"
    },
    {
      "name": "OpenLCA",
      "id": "openlca"
    },
    {
      "name": "MCP",
      "id": "mcp"
    }
  ]
}
